#header, 
#midsection,
#content,
canvas
{
	width:844px;
	margin:auto;
}
*
{
		font-family: 'Ubuntu', serif;
}
h1
{
	font-size:64px;
	color:black;
	display:inline-block;
	margin-top:1px;
	margin-bottom:1px;
}
h1 span
{
	display:inline-block;
	padding-top:-10px;
}
#header 
{
	margin-top:40px;
	margin-bottom:10px;
}
#header img {
	margin-top:10px;
	float:left;
}
canvas
{
	margin-top:20px;
	display:block;
	background: transparent;   
}
.gitforked-button-container
{
	float:right;
	margin-right:38px; //bubble appended.
	margin-top:20px;
	display:inline-block;

}

#content
{

}
select 
{
	margin:auto;
	margin-top:2px;

}

body {
	background: url('resources/background-site.jpg') top center repeat-x;
	margin:0px;
	padding:0px;
}
canvas {
	 
}